In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(color_codes=True)

# Data Importing and Exploration

## Importing data for ASIANPAINT company stock statistics

In [ ]:
url = 'https://drive.google.com/file/d/1nM8Lc7El4dr9eq-iMkhiw1z3ZnCQOejv/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

In [ ]:
df = pd.read_csv(path)

*Need data description here*

## Performing Exploratory Analysis

In [ ]:
df

            Date      Symbol Series  ...   Trades  Deliverable Volume  %Deliverble
0     2000-01-03  ASIANPAINT     EQ  ...      NaN                 NaN          NaN
1     2000-01-04  ASIANPAINT     EQ  ...      NaN                 NaN          NaN
2     2000-01-05  ASIANPAINT     EQ  ...      NaN                 NaN          NaN
3     2000-01-06  ASIANPAINT     EQ  ...      NaN                 NaN          NaN
4     2000-01-07  ASIANPAINT     EQ  ...      NaN                 NaN          NaN
...          ...         ...    ...  ...      ...                 ...          ...
5301  2021-04-26  ASIANPAINT     EQ  ...  58557.0            335232.0       0.3037
5302  2021-04-27  ASIANPAINT     EQ  ...  66988.0            281178.0       0.3246
5303  2021-04-28  ASIANPAINT     EQ  ...  52622.0            449241.0       0.4216
5304  2021-04-29  ASIANPAINT     EQ  ...  64039.0            447979.0       0.3458
5305  2021-04-30  ASIANPAINT     EQ  ...  91934.0            750496.0       0.5419

[5306 rows x 15 columns]

In [ ]:
df.describe()

        Prev Close         Open  ...  Deliverable Volume  %Deliverble
count  5306.000000  5306.000000  ...        4.797000e+03  4797.000000
mean   1247.000952  1247.683952  ...        2.751281e+05     0.625572
std    1074.399506  1074.025577  ...        4.157465e+05     0.187597
min     210.750000   210.000000  ...        2.500000e+01     0.076800
25%     415.737500   415.000000  ...        1.262200e+04     0.486200
50%     889.375000   890.000000  ...        5.273800e+04     0.616100
75%    1599.037500  1599.800000  ...        4.383750e+05     0.765500
max    5213.100000  5221.100000  ...        7.938427e+06     1.000000

[8 rows x 12 columns]

Things to note
- There is a large range for most variables, considering this is only one stock ticker. This is due to the large time range.
- The mean of most of the price metrics is around 1250 and SD is around 1075, so the stock price must have stayed around this price for a while. 
- We need to look for missing values in these columns

In [ ]:
df.isnull().sum()

Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                2850
Deliverable Volume     509
%Deliverble            509
dtype: int64

We can see alot of missing values for "Trades" column and some for the deliverable columns. Likely trades will be a significant predictor for our model so we will need to test if deleting the rows with no trade value will affect test error. Deliverables will likely have no affect on prediction accuracy.

We can create a dataframe with NAs and without NAs for seperate testing to deal with these values. However, it will be hard use common substitutes for NA values as the range of trades is extremely large. This means we will need another substitute.

In [ ]:
df.dtypes

Date                   object
Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume    float64
%Deliverble           float64
dtype: object

We can see that our date column is an object type instead of a datetime. We will need to handle this in order to do time-series analysis. 
As of now, we are just working with the ASIANPAINT stock, so we may be able to drop this column. This is the same for the series column, since all of the stocks we will be looking at are EQ series.

In [ ]:
df <- df.drop(columns=['Series'])

TypeError: ignored

In [ ]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')